<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <div id="navbar">
        <ul>
            <li><a class="renew" (click)="changeView1()"><i class="fa-solid fa-user-gear"></i>Admin</a></li>
            <li><a class="same" (click)="homeVisible()" routerLink="/uhome">Add User</a></li>
            <li><a class="same" (click)="passwordVisible()" routerLink="adminhome">View User</a></li>
            <li><a class="same" (click)="contactVisible()" routerLink="contactus">View User Details</a></li>
            <li><a routerLink="/adminlogin" (click)="changeView()" class="btn by "><i class="fa-solid fa-user-minus"></i>Logout</a>
            </li>
        </ul>
    </div>
    <img *ngIf="imgVisible" src="https://blog.bonus.ly/hubfs/employee-experience-featured-image.png" alt="Image">

    <div class="container" *ngIf="form">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>Create Users Here</h1>
                    </div>
                    <form>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter Email Address">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Create Password">
                            </div>
                            <br>
                            <button type="reset" id="btn2" class="btn  btn-primary">Reset</button>
                            <button type="submit" id="btn1" class="btn btn-primary " (click)="updateDetails()"><i class="fa-solid fa-marker"></i>
                                Add</button>
                            <br><br><br><br>
                            <a id="a1" class="btn btn-primary" routerLink="userhome"><i class="fa-solid fa-circle-arrow-left"></i> Go Back</a>
                        </form>

                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <div *ngIf="form2" class="contact">
      <h4>You can see here all the Users created .</h4>
    </div>
    

    <div *ngIf="form3" class="passwordform">
        <h4>You can see  User updated details here.</h4> 
    </div>
<br><br>
</body>

</html>
